* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(181, 181, 181);
}

body {
  margin: 20px auto;
  background: rgba(17, 24, 39, 1);
  width: 400px;
  font-family: "Josefin Sans", sans-serif, monospace;
  color: #ffffff;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 20px 0;
}

img {
  width: 90px;
  height: 90px;
}

#hero-header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ffffff;
  margin-top: 20px;
}

#input-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
}

input, textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #444059;
  color: #8f8f8f;
}

#endorsement {
  width: 320px;
  height: 120px;
  border-radius: 8px;
  padding: 12px 16px 12px 20px;
  max-width: 320px;
  min-width: 320px;
}

.toFrom {
  height: 40px;
  width: 152px;
  border-radius: 8px;
  text-align: center;
}

#publish-btn {
  height: 60px;
  width: 320px;
  border-radius: 8px;
  background-color: #28a9f1;
  color: #04131c;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

#output-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 20px 0;
  padding: 12px;
}

#endorse-header {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  margin: 1rem 0 .2rem 0;
}

.endorse-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #ffffff;
  margin: 12px 0;
  padding: 8px;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  width: 320px;
}

.endorse-paragraph {
  font-weight: 400;
  padding: 12px 0 8px 0;
  width: 320px;
}

#heart-btn {
  border: none;
  background: transparent;
}